// If you edit this file you need to compile the theme. See README.md for details.
$v-app-loading-text: "Nzinga";
// Global variable overrides. Must be declared before importing Valo.
$color-main: silver;
$color-menu: black;
$color-menu-alt: black;
$color-menu-text: darkgray;
$color-alt: red;
$color-selected: green;
$color-unselected: gainsboro;

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 12px;
//$v-font-weight: 300;
$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 10px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(0, 0%, 0%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: hsl(50, 50%, 50%);

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples


@import "../valo/valo.scss";

@mixin mytheme {
    @include valo;

    
    // Insert your own theme rules here
    .v-ui {
        //background: transparent;
        //font-family: monospace;
    }
    
    .v-button {
        border: thin;
        background: transparent;
        color: white;
    }

    .v-panel-bordeless {
        border: none;
        background: transparent;
    }

    .flex-view {
        background: transparent;
    }
    
    .flex-window {
        @include linear-gradient(to bottom right, gray, $color-selected);
    }

    .login-view {
        @include linear-gradient(to bottom right, gray, $color-selected);
    }
    
    
    .flex-view {
    }

  
    
    .flex-menu {
        @include linear-gradient(to  right, $color-menu, $color-menu-alt);
        box-shadow: 0px 4px $color-unselected;
        color: $color-alt;
    }
    
    .flex-body{
        @include linear-gradient(to  right, $color-menu, $color-menu-alt);
        box-shadow: 0px 4px 4px $color-selected;
        color: $color-alt;
    }

    .wall {
        background: white;
        box-shadow: 0px 8px #b525f8;
    }
    
    .flex-menu-bar {
        .v-menubar-menuitem {
            color: white;
            font-weight: bolder;
            size: 150%;
        }    
        .v-menubar-menuitem-selected {
        }    
        .v-menu-bar-submenu {
            color: red;
        }
    }

    .items {
        .item {
            background: $color-unselected;
            .title {
                font-weight: bold;
            }
        }

        .item-selected {
            @include linear-gradient(to bottom right, gray, $color-selected);
            color: white;
            .title {
                font-weight: bold;
            }
        }
    }

    
    .yellow {
        color: yellow;
    }
    .red {
        color: red;
    }
    .green {
        color: green;
    }
    .purple {
        color: purple;
    }

    .category-general {
        background: #00ace0;
        opacity: 1;
    }
    
    .category-technology {
        background: #46b33a;
        opacity: 1;
    }

    .category-sport {
        background: azure;
        opacity: 1;
    }

    .category-business {
        background: gold;
        opacity: 1;
    }

    .category-politics {
        background: greenyellow;
        opacity: 1;
    }

    .category-entertainment {
        background: pink;
        opacity: 1;
    }
    
    .category-music {
        background: purple;
        opacity: 1;
    }

    .category-science-and-nature{
        background: yellow;
        opacity: 1;
    }

    .category-gaming{
        background: yellowgreen;
        opacity: 1;
    }

    .on {
        background: orangered;   
    }
    
    // Geometric forms
    .circle{
        border-radius: 50%;
    }
    
}
