// If you edit this file you need to compile the theme. See README.md for details.
$v-app-loading-text:        "Ngutu";
// Global variable overrides. Must be declared before importing Valo.

// App colors
$color-ui:                  rgba(150, 150, 150, .5);
$color-background-primary:  rgba(0, 255, 255, 0.75);
$color-background-secondary:rgba(127, 255, 127, 0.75);
$color-background-action:   rgba(255, 255, 0, 0.1);
$color-text-primary:        rgba(125, 125, 125, 1);
$color-text-secondary:      rgba(255, 255, 255, 1);
$color-text-action:         white;
$color-menu:                rgba(10, 10, 10, .8);
$color-menu-text:           rgba(255, 255, 255, 1);
$color-menu-shadow:         gray;

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 14px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 2px solid (v-shade 0.7);
//$v-border-radius: 10px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: rgba(10, 255, 0, 0.7);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: rgba(255, 0, 255, 0.7);

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples
//$color-menu-alt: gray;
//$color-menu-text: white;
//$color-alt: yellow;
//$color-selected: green;
//$color-unselected: gainsboro;
$flex-menu-shadow:        0px 6px 6px 0px rgba(150, 0, 0, 0.4);
$flex-inner-shadow: inset 0px 0px 10px rgba(150, 0, 0, 0.4);
$flex-item-shadow:        2px 2px 2px 0px rgba(150, 0, 0, 0.4);


@import "../valo/valo.scss";

@keyframes animationFrames {
    0% {
        opacity:1;
        transform:  rotate(0deg) scaleX(2.00) scaleY(2.00) ;
    }
    100% {
        opacity:0;
        transform:  rotate(360deg) scaleX(1.00) scaleY(1.00) ;
    }
}

@-moz-keyframes animationFrames{
    0% {
        opacity:1;
        -moz-transform:  rotate(0deg) scaleX(2.00) scaleY(2.00) ;
    }
    100% {
        opacity:0;
        -moz-transform:  rotate(360deg) scaleX(1.00) scaleY(1.00) ;
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity:1;
        -webkit-transform:  rotate(0deg) scaleX(2.00) scaleY(2.00) ;
    }
    100% {
        opacity:0;
        -webkit-transform:  rotate(360deg) scaleX(1.00) scaleY(1.00) ;
    }
}

@-o-keyframes animationFrames {
    0% {
        opacity:1;
        -o-transform:  rotate(0deg) scaleX(2.00) scaleY(2.00) ;
    }
    100% {
        opacity:0;
        -o-transform:  rotate(360deg) scaleX(1.00) scaleY(1.00) ;
    }
}

@-ms-keyframes animationFrames {
    0% {
        opacity:1;
        -ms-transform:  rotate(0deg) scaleX(2.00) scaleY(2.00) ;
    }
    100% {
        opacity:0;
        -ms-transform:  rotate(360deg) scaleX(1.00) scaleY(1.00) ;
    }
} 

@mixin mytheme {
    @include valo;


    // Insert your own theme rules here
    .v-ui {
        background: $color-ui;
    }

    .flex-button {
        color: $color-text-primary;
    }

    .flex-action {
        border-radius: 50%;
    }

    .v-panel, .v-panel-bordeless {
        border: none;
        background: transparent;
    }

    .flex-window {
        background: $color-menu;
        box-shadow: $flex-menu-shadow;
    }

    .search-box {
        background: white;
        box-shadow: $flex-item-shadow;
    }

    .flex-view {

    }


    .flex-menu {
        background: rgba(0, 0, 0, .9);           
        box-shadow: $color-menu-shadow;
        color:      $color-menu-text;
    }

    .flex-logo {
    }

    .flex-menu-bar {
        .v-menubar {
            background: cornsilk;
        }
        .v-menubar-menuitem {
            background: rgba(0, 0, 0, .9);           
            color: white;
        }    
        .v-menubar-menuitem:hover {
            font-weight: bold;
        }
        .v-menubar-menuitem-selected {
            font-weight: bold;
            font-size: 200%;
            background: rgba(255, 0, 0, 1);
        }
        .v-menubar-menuitem-highlighted {
            font-weight: bold;
        }
        .v-menubar-submenu {
            background: red;
            color: pink;
        }
        .v-menubar-popup {
            background: black;
            color: yellow;
        }
        .v-menubar-borderless {
            background: green;
            color: purple;
        }
    }

    .flex-body{
        //background: rgba(255, 0, 126, .7);
        background: rgba(200, 200, 200, 0.2);
    }

    .flex-footer {
        background: $color-menu;
    }


    .v-caption-item {
        word-wrap: break-word;
    }

    .items {
        //$v-font-family: "JF Flat","Open Sans", sans-serif;
        border: none;
    }

    .article-body {
        .title{
            font-weight: bold;
        }
        .value{
        }
    }

    .item {
        background: white;
        opacity: 0.95;
        .article-header {
            background: black;
            color: white;
        }
    }

    .item:hover {
        background: white;
        .article-header {
            background: black;
            color: white;
        }
    }

    .item-selected {
        background: white;
        border: thin solid rgba(255, 0, 0, 1);
        .article-header {
            background: rgba(255, 0, 0, 1);
            color: white;
        }
    }


    .actions {
        background: rgba(127, 127, 127, 0.5);
        color: white;
    }

    .yellow {
        color: yellow;
    }

    .red {
        color: red;
    }

    .green {
        color: green;
    }

    .purple {
        color: purple;
    }


    .on {
        background: orangered;   
    }

    // Geometric forms
    .circle{
        border-radius: 50%;
    }

    .info-frame {

    }

    .ads-frame {
        background: rgba(255, 0, 0, .2);
        border: thin dashed;
        height: 128px;

        animation: animationFrames ease 0.7s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%;
        -webkit-animation: animationFrames ease 0.7s;
        -webkit-animation-iteration-count: infinite;
        -webkit-transform-origin: 50% 50%;
        -moz-animation: animationFrames ease 0.7s;
        -moz-animation-iteration-count: infinite;
        -moz-transform-origin: 50% 50%;
        -o-animation: animationFrames ease 0.7s;
        -o-animation-iteration-count: infinite;
        -o-transform-origin: 50% 50%;
        -ms-animation: animationFrames ease 0.7s;
        -ms-animation-iteration-count: infinite;
        -ms-transform-origin: 50% 50%;
    }


}
