// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples


@import "../valo/valo.scss";

@mixin mytheme {
    @include valo;

    // Insert your own theme rules here
    .v-ui{
        @include linear-gradient(to bottom right, darkorchid, #1156a8);
    }

    .v-label-huge {
        font-size: x-large;
        font-weight: bold;
        color: white;
        font-family: serif;
    }
    
    .login-view {
        background: black;
        color: white;        
    }
    
    .flex-view {
    }

    .welcome-message {
        font-size: xx-large;
    }            

    .app-icon {
        font-size: 200%;
    }            
    
    .flex-menu {
        background: black;
        opacity: 0.8;
        color: white;
        font-variant: small-caps;
        .flex-button {
            opacity: 1;
            font-weight: bolder;            
            .selected{
                background: white;
                color: black;
            }
            .unselected{
                color: #1156a8;
            }
        }
    }
    
    .flex-logo {
        font-weight: lighter;
        color: white;
    }

    .flex-body {
        background: gainsboro;
        color: black;
        .v-panel-caption{
            background: black;
            color: white;
            font-variant: small-caps;
            font-weight: bold;
            font-size: 120%;
        }
    }

    .articles {
        .summaries{
            background: transparent;
            .article-maximized {
                background: white;
                color:black;
                opacity: 1;
                font-family: serif;
                border-radius: 1%;        
                .info{
                    .article-title {
                        font-weight: bold;
                    }
                    .article-author {
                        font-size: 8pt;
                        font-style: italic;
                    }
                    .article-content {
                    }
                    .controls {
                    }
                }
            }

            .article-minimized  {
                font-family: serif;
                background: gainsboro;
                color:black;
                border-radius: 1%;
                font-size: smaller;
                .info{
                    opacity: 1;
                    .article-title {
                    }
                    .article-author {
                        font-size: smaller;
                        font-style: italic;
                    }
                    .article-content {
                    }
                    .controls {
                    }
                }
            }
        }
    }

    
    .sources {
        opacity: 1;
        .source {}      
    }
    
    
    .category-general {
        background: #00ace0;
        opacity: 1;
    }
    
    .category-technology {
        background: #46b33a;
        opacity: 1;
    }

    .category-sport {
        background: azure;
        opacity: 1;
    }

    .category-business {
        background: gold;
        opacity: 1;
    }

    .category-politics {
        background: greenyellow;
        opacity: 1;
    }

    .category-entertainment {
        background: pink;
        opacity: 1;
    }
    
    .category-music {
        background: purple;
        opacity: 1;
    }

    .category-science-and-nature{
        background: yellow;
        opacity: 1;
    }

    .category-gaming{
        background: yellowgreen;
        opacity: 1;
    }

    .count {
        font-size: 200%;
        .label{
        }
        .number{
            font-size: 300%;
        }
    }
    
}
